.c-header
  +clearfix
  +size(100% 48px)
  border-bottom: solid 4px $brown
  box-sizing: content-box

.c-header__logo
  display: block
  float: left

.c-header__logo__icon
  +size(48px)
  float: left

.c-header__logo__title
  margin-left: 60px
  color: $brown
  font-size: 1.8em
  font-weight: bold
  line-height: 48px

.c-header__item
  display: block
  float: right
  margin: 0 8px
