.c-header
  +clearfix
  +size(100% 48px)
  border-bottom: solid 4px $brown
  box-sizing: content-box

.c-header__logo
  display: block
  float: left

.c-header__logo__icon
  +size(48px)
  float: left

.c-header__logo__title
  margin-left: 60px
  color: $brown
  font-size: 1.8em
  font-weight: bold
  line-height: 48px

.c-header__item
  display: block
  float: right
  margin: 0 8px

.c-header__overlay
  +position(fixed, 52px 0px null 0px)
  height: 200px
  padding: 4px 12px
  background-color: #eee
  box-sizing: border-box

.c-header__overlay__section
  +clearfix
  padding: 4px

.c-header__overlay__title
  float: left
  width: 200px
  line-height: 40px

.c-header__overlay__input
  +size(200px 40px)
  padding: 4px
  font-size: 1.2em
  background-color: #fff
  box-sizing: border-box
  outline: none

.c-header__overlay__button
  +size(60px 40px)
  color: #fff
  border: solid 2px $brown
  border-radius: 4px
  background-color: $brown
  box-sizing: border-box
  outline: none
  cursor: pointer
